<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{name || 'Name'}}</h3>
  </div>
  <div class="col-xs-12">
  <br>
    <div class="row">
        <div class="col-md-4">
            <img src="{{logo || 'http://placehold.it/380x380'}}" alt="" class="img-rounded img-responsive" />
        </div>
        <div class="col-md-8">
            <small>
                <cite title="{{address || 'Address'}}">
                    <i class="glyphicon glyphicon-map-marker"></i>
                    {{address || 'Address'}}
                </cite>
            </small>
            email@example.com
        </div>
    </div>
    <br>
</div>

</div>